*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    width: 100%;
    height: 100vh;
}

.App-header{
    background-color: rgb(141, 141, 18);
    padding: 20px;
}


.logo{
    color: white;
}


.main-content{
    width: 100%;
    height: calc(100vh - 120px);
 overflow-y: scroll;
 
   display: grid;
   grid-template-columns: auto auto auto auto;

}
::-webkit-scrollbar{
    width: 0;
}
footer{
    text-align: center;
    color: white;

}
footer h5{
    opacity: 0.5;
}

.noJob{
     font-size: 20px;
     color: red;
    
}


/* animations  */
.description-content {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse backwards;
	        animation: slide-top 0.5s cubic-bezier(0.100, 0.460, 0.450, 0.940) reverse backwards;
}



